@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";


@theme{
  --default-font-family :"Roboto";
  --font-mont :"Montserrat",'sans-serif';
  --font-great :"Great Vibes",'sans-serif'
}
